<h1>Please fill out the form to create a new Cat profile.</h1>

<%= render 'form', action: :new, cat: @cat %>

<!-- <form class="" action="<%#= cats_url %>" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="">
  <br>
  <label for="birth_date">Birth Date</label>
  <input id="birth_date" type="date" name="cat[birth_date]" >
  <br>
  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled >-- Please Select --</option>
    <%# Cat.colors.each do |color| %>
      <option value="<%#= color %>"><%#= color %></option>
    <%# end %>
  </select>
  <br>
  Gender
  <br>
  <label for="sex_male">Male</label>
  <input id="sex_male" type="radio" name="cat[sex]" value="m">
  <br>
  <label for="sex_female">Female</label>
  <input id="sex_female" type="radio" name="cat[sex]" value="f">
  <br>
  <label for="picture_url">Picture Url</label>
  <input id="picture_url" type="text" name="cat[picture_url]" value="">
  <br>
  <label for="description">Description</label> <br>
  <textarea id='description' name="cat[description]" rows="8" cols="50"></textarea>
  <br>
  <input type="submit" value="Submit">
</form> -->
