<h2>Add user to database</h2>


<form action="/users" method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="user[username]">

    <label for="profile_picture_url">Profile Picture</label>
    <input id="profile_picture_url" type="text" name="user[profile_picture_url]">

    <input type="submit" value="Add user to database">
</form>